@import "./styles/variables";
@import "./styles/dashboard";
@import "./styles/landing";
@import "./styles/login";
@import "./styles/navbar";
@import "./styles/posts";
@import "./styles/profilepage";
@import "./styles/profiles";
@import "./styles/aboutus";

/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-text;
    font-size: 1rem;
    line-height: 1.6;
    background-color: rgb(245, 245, 245);
    color: #333;
    height: 100vh;
}

a {
    color: $primary-color;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}


/* Utilities */

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.container.aboutus {
    max-width: 1500px;
}


/* Text Styles*/

.x-large {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.large {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.lead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: $primary-color;
}

.text-dark {
    color: $dark-color;
}


/* Padding */

.p {
    padding: 0.5rem;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.py {
    padding: 0.5rem 0;
}

.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.py-3 {
    padding: 3rem 0;
}


/* Margin */

.m {
    margin: 0.5rem;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 2rem;
}

.m-3 {
    margin: 3rem;
}

.my {
    margin: 0.5rem 0;
}

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 2rem 0;
}

.my-3 {
    margin: 3rem 0;
}

.btn {
    display: inline-block;
    background: $light-color;
    border-radius: 2rem;
    color: rgb(26, 25, 25);
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
}

.badge {
    font-size: 0.8rem;
    padding: 0.1rem;
    text-align: center;
    margin: 0.3rem;
    background: $light-color;
    color: #333;
}

.alert {
    padding: 0.8rem;
    margin: 1rem 0;
    opacity: 0.9;
    background: $light-color;
    color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
    background: $primary-color;
    color: $text-color;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
    background: $light-color;
    color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
    background: $dark-color;
    color: $text-color;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
    background: $danger-color;
    color: $text-color;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
    background: var(--success-color);
    color: $text-color;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
    background: $text-color;
    color: #333;
    border: #ccc solid 1px;
}

.btn:hover {
    opacity: 0.8;
}

.bg-light,
.badge-light {
    border: #ccc solid 1px;
}

.round-img {
    border-radius: 50%;
}

.line {
    height: 1px;
    background: #ccc;
    margin: 1.5rem 0;
}


/* Overlay */

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Forms */

.form .form-group {
    margin: 1.2rem 0;
}

.form .form-text {
    display: block;
    margin-top: 0.3rem;
    color: rgb(129, 129, 129);
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
}

.form input[type="submit"],
button {
    font: inherit;
}

.form .social-input {
    display: flex;
}

.form .social-input i {
    padding: 0.5rem;
    width: 4rem;
}

.form .social-input i.fa-twitter {
    color: #38a1f3;
}

.form .social-input i.fa-facebook {
    color: #3b5998;
}

.form .social-input i.fa-instagram {
    color: #3f729b;
}

.form .social-input i.fa-youtube {
    color: #c4302b;
}

.form .social-input i.fa-linkedin {
    color: #0077b5;
}

.form .social-input i.fa-github {
    color: black;
}

.table th,
.table td {
    padding: 1rem;
    text-align: left;
}

.table th {
    background: $light-color;
}


/* Mobile Styles */

@media (max-width: 700px) {
    .container {
        margin-top: 8rem;
    }
    .hide-sm {
        display: none;
    }
    /* Text Styles */
    .x-large {
        font-size: 3rem;
    }
    .large {
        font-size: 2rem;
    }
    .lead {
        font-size: 1rem;
    }
    /* Navbar */
    .navbar {
        display: block;
        text-align: center;
    }
    .navbar ul {
        text-align: center;
        justify-content: center;
    }
    .navbar h1 {
        margin-bottom: 1rem;
    }
    .navbar .welcome {
        display: none;
    }
    /* Profiles Page */
    .profile {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .profile ul {
        display: none;
    }
    /* Profile Page */
    .profile-top img,
    .profile img {
        width: 200px;
        margin: auto;
    }
    .profile-grid {
        grid-template-areas: "top" "about" "exp" "edu" "github";
    }
    .profile-about .skills {
        flex-direction: column;
    }
    .dash-buttons a {
        display: block;
        width: 100%;
        margin-bottom: 0.2rem;
    }
    .post {
        grid-template-columns: 1fr;
    }
    .post a,
    .post button {
        padding: 0.3rem 0.4rem;
    }
}