node_modules/
client/node_modules
config/dev.js
.vscode/settings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/GitTinder/v16/.suo
client/build
/routes/blog.js
/routes/poll.js
/models/Blog.js
/models/Poll.js
/routes/confirmEmail.js