.aboutus {
    @import "node_modules/bootstrap/scss/bootstrap";
    font-family: $font-text;
    padding: 0;
    margin: 0;
    a {
        color: $dark-color;
    }
    a:hover {
        text-decoration: none;
    }
    h1,
    h2,
    h3 {
        font-family: $heading-text;
    }
    p {
        color: #8f8f8f;
    }
    #title {
        background-color: #2fc4b2;
        color: white;
    }
    .container-fluid {
        padding: 3% 15% 7%;
    }
    /* Pricing section */
    #pricing {
        padding: 6vh 0;
        text-align: center;
    }
    .pricing-column {
        padding: 3% 2%;
    }
    /* Footer section */
    #footer {
        padding: 2% 8%;
        text-align: center;
    }
    .social-icon {
        margin: 20px 10px;
    }
    #about {
        h2 {
            padding-left: 0;
            margin-left: -5vw;
            color: $primary-color;
        }
        .row {
            padding: 0 2vw;
        }
        h2 {
            padding: 1vh 3vw;
        }
        p {
            padding: 2vw;
        }
        div {
            align-items: center;
        }
    }
}