/* Posts Page */

.post-form .post-form-header {
    margin: 3rem;
    background: var(--primary-color);
    padding: 0.5rem;
}

.post {
    margin: 2rem;
    white-space: pre-line;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 1rem;
    align-items: center;
}

.post>div:first-child {
    text-align: center;
}

$memeWidth: 25rem;
$memeHeight: 300 * 11/9;
.meme {
    width: $memeWidth;
    height: $memeHeight;
}

$avatarDiameter: 5rem;
.post .round-img {
    width: $avatarDiameter;
    height: $avatarDiameter;
}

.post .comment-count {
    background: var(--light-color);
    color: var(--primary-color);
    padding: 0.1rem 0.2rem;
    border-radius: 5px;
    font-size: 0.8rem;
}

.post .post-date {
    color: #aaa;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}