:root {
    --primary-color: #1bb6ce;
    --dark-color: #000000;
    --light-color: #f3f3f3;
    --danger-color: #dc3545;
    --success-color: #28a745;
}

.dev-heading {
    color: var(--primary-color);
}

.profile {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    margin: 2rem 2rem 0 2rem;
    align-items: center;
    grid-gap: 3rem;
    padding: 2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    background-color: var(--dark-color);
    color: var(--primary-color);
    border-radius: 2rem;
}

img.profile {
    width: max-content;
}

.round-img {
    width: 10rem;
    border-radius: 50%;
    height: 10rem;
}