/*Colors*/

$primary-color: #092532;
$light-color: #b5d19a;
$dark-color: #89c9b8;
$danger-color: #dc3545;
$success-color: #28a745;
$text-color: #fcfcfc;
$grey-text-color: #092526;
$body-color: #edf7f6;

/*Fonts*/

@font-face {
    font-family: "pt_sansbold";
    src: url("./fonts/ptsans-bold-webfont.woff2") format("woff2"), url("./fonts/ptsans-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: "pt_sansregular";
    src: url("./fonts/ptsans-regular-webfont.woff2") format("woff2"), url("./fonts/ptsans-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    display: swap;
}

$font-text: "pt_sansregular",
"sans-serif";
$heading-text: "pt_sansbold",
"sans-serif";
