/*Colors*/

$primary-color: #1bb6ce;
$light-color: #f3f3f3;
$dark-color: #000000;
$danger-color: #dc3545;
$success-color: #28a745;
$text-color: #fcfcfc;
$grey-text-color: #aaa;

/*Fonts*/

$font-text: ' "Playfair Display",serif';
$heading-text: "Ubuntu";