/*Colors*/

$primary-color: #1bb6ce;
$light-color: #f3f3f3;
$dark-color: #000000;
$danger-color: #dc3545;
$success-color: #28a745;
$text-color: #fcfcfc;
$grey-text-color: #aaa;

/*Fonts*/

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
$font-text: "PT Sans",
sans-serif;
$heading-text: "PT Sans",
sans-serif;